{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block app_title %}
    {{ block.super }}
    Supplier - add
{% endblock %}


{% block content %}
<div class="card-body">
    <div class="col-lg-8">
        <form method="post" enctype="multipart/form-data" action=".">
            {% crispy form %}
            {% for ex_form in formset %}
                {{ forloop.counter }}
                {% crispy ex_form %}
                <hr>
            {% endfor %}
        <input type="submit" name="submit" value="Save" class="btn btn-primary btn-success"
             id="submit-id-submit">
        </form>
    </div>
</div>
{% endblock content %}
